@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-ubuntu: 'Ubuntu', sans-serif;
	--font-manrope: 'Manrope', sans-serif;
}

body {
	font-family: var(--font-manrope);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-ubuntu);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

/* Styling the navigation buttons */
.swiper-button-next,
.swiper-button-prev {
	border: 2px solid #ffa929;
	/* background-color: #fff;  */
	color: #ffa929;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
	padding: 2rem;
}

/* Style the icons */
.swiper-button-next::after,
.swiper-button-prev::after {
	font-size: 1.5rem;
	color: #ffa929;
}

/* Add hover effect for buttons and icons */
.swiper-button-next:hover,
.swiper-button-prev:hover {
	transform: scale(1.1);
	background-color: #ffa929;
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
	color: #fff;
}
